@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
}

ul {
    list-style-type: none;
}

a {
    color: #ffff;
    text-decoration: none;
}

.text-primary {
    color: #fff;
}

.navbar {
    background-color: #333;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    position: fixed;
    padding: 0 30px;
}

.navbar a {
    padding: 10px 20px;
}

.navbar a:hover {
    color: #329e00;
}

.navbar ul {
    display: flex;
}

.presentation {
    background: url(./img/altumcode-XMFZqrGyV-Q-unsplash.jpg) no-repeat center center/
    cover;
    width: 100%;
    height: 100vh;
}

.presentation .text {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     height: 100%;
     color: #f3f3f3;
}

.presentation h1 {
    font-weight: bold;
    font-size: 55px;
}

.presentation p {
    font-weight: bold;
    font-size: 23px;
}

.icons {
    padding: 30px;
}

.icons i {
    background-color: #28a745;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}

.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.flex-items > div {
    padding: 50px;
}

.presentation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

header * {
    z-index: 10;
}